.section-p2 {
    width: 100%;
    flex-direction: column;
    text-align: center;
    display: inline-flex;
  
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    flex-basis: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-image: conic-gradient(
        from 90deg at 80% 50%,
        #c0c0cb 0%,
        rgb(239, 253, 255, 0.8) 100%
      ),
      conic-gradient(from 270deg at 20% 50%, rgb(239, 253, 255, 0.8), #83838b);
  }
  
  .area {
    width: 100%;
    height: 199vh;
    position: relative;
    justify-content: center;
    margin-top: 1em;
    text-align: center;
  }
  .title-1 {
    font-family: CerebriSans, -apple-system, BlinkMacSystemFont, Roboto,
      sans-serif;
    color: black;
    font-size: 60px;
    font-weight: 600;
    position: relative;
    justify-content: center;
    margin-top: 1em;
    text-align: center;
  }
  .pro-container {
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
  }
  #product1 .part {
    width: 100%;
    min-width: 250px;
    padding: 10px 12px;
    margin: 15px 0;
    height: fit-content;
    box-sizing: border-box;
  }
  #product1 .pro {
    width: 100%;
    min-width: 250px;
    padding: 10px 12px;
    border: 0.5px solid white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 5, 0.1) 80px 50px 40px 1px;
    margin: 15px 0;
    transition: 0.2s ease;
  }
  #product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
  }
  #product1 .pro img {
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
  }
  #product1 .part .col-xs-6 {
    padding: 20px;
  }
  /* Add spacing between the images */
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    justify-content: center;
  }
  
  /* Adjust image size */
  .row img {
    width: 50px;
    height: 60vh;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .nav-link {
    text-align: center;
    color: black;
  }
  
  span {
    padding-top: 30px;
    margin-bottom: 20px;
  }
  #product1 .pro .des {
    text-align: start;
    padding: 10px 0;
  }
  #product1 .pro .des span {
    color: black;
    font-size: 12px;
  }
  #product1 .pro .des h5 {
    padding-top: 7px;
    color: black;
    font-size: 14px;
  }
  #product1 .pro .des h4 {
    padding-top: 7px;
    color: gold;
    font-size: 15px;
    font-weight: 700;
  }
  