{% extends "layout.html" %}

{% block title %}
    aboutus
{% endblock %}

{% block main %}
    <!-- About Us Section -->
    <section id="privacy-policy" class="stack-area">
      <div class="container">
        <h2>About Us</h2>
        <p>Welcome to [Business Name]![ describe the business and its mission]. ].</p>
      <div class="info-section">
        <h3>Our Story</h3>
        <p>[The history and journey of your business.]</p>
      </div>
      <div class="info-section">
        <h3>Our Mission</h3>
        <p>[The core mission and values that drive your business.]</p>
      </div>
      <div class="info-section">
        <p>We look forward to serving you and providing you with the best [products/services]!</p>
      </div>
    </div>
    </section>
{% endblock %}