{% extends "main.html" %}

{% block title %}
    {{ books.name }}
{% endblock %}

{% block content %}
  <div class="product-details">
    <h2>{{ books.name }}</h2>
    <p>Price: ${{ books.price }}</p>
    <p>Description: {{ books.description }}</p>
    <!-- Add more product details as needed -->
    <form action="/books" method="post">
      <div class="product-quantity">
        <label for="quantity_wanted">Quantité</label>
        <input
          type="number"
          name="qty"
          id="quantity_wanted"
          value="1"
          min="1"
          aria-label="Quantité"
        >
      </div>
      <input type="hidden" name="product_id" value="{{ schoolsupplies.id }}">
      <button
        class="btn btn-primary add-to-cart"
        data-button-action="add-to-cart"
        type="submit"
      >
        <i class="material-icons shopping-cart">&#xE547;</i>
        {% trans "Ajouter au panier" %}
      </button>
    </form>
  </div>
{% endblock %}
