{% extends "main.html" %}

{% block title %}
    Cart
{% endblock %}

{% block main %}
<h1>Your Cart</h1>
<ul>
      <!-- not done you need to edit ur database order_items table that it is related with both ur products and edit code as required -->

    {% for product in products %}
        <li>
            {{ product.name }} - Price: ${{ product.price }}
            <form action="/cart" method="post">
                <input type="hidden" name="product_id" value="{{ product.id }}">
                Quantity: <input type="number" name="quantity" value="1" min="1">
                <button type="submit">Add to Cart</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}