{% extends "main.html" %}

{% block title %}
    Catalog
{% endblock %}

{% block main %}
<style>
#product1{
  text-align: center;
}
#product1 .pro-container{
  padding-top: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
#product1 .pro{
  width: 100%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid white;
  border-radius: 25px;
  box-shadow: 20px 20px 30px rgba(0.2, 0, 0, 0.06);
  margin: 15px 0;
  transition: 0.2s ease ;
}
#product1 .pro img{
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 20px;
}
/* Add spacing between the images */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  justify-content: center;
}

/* Adjust image size */
.row img {
  width: 50px;
  height: 60vh;
  padding-top: 30px;
  padding-bottom: 30px;
}
.nav-link {
  text-align: center;
  color: black;
}

span{
  padding-top: 30px;
  margin-bottom: 20px;
}

</style>
<section id="product1" class="section-p1">
  <h2>Catalog</h2>
  <div class="pro-container">
    <div class="pro">
    <ul class="row">
			<li class="col-xs-6 col-md-3">
			<a href="/school_supplies_shop" class="nav-link">
				<img src="/static/img/products/bic.jpg" alt="">
        <span>School Supplies</span>
			</a>
		</li>
			<li class="col-xs-6 col-md-3">
        <a href="/books"  class="nav-link">
				<img src="/static/img/products/curriculum.png" alt="Acrylique Liquitex">
        <span>Curriculum Books</span>
			</a>
		</li>
			<li class="col-xs-6 col-md-3">
        <a href="/books" class="nav-link">
				<img src="/static/img/products/grades.png" alt="Crayon Aquarelle">
        <span>Grade Books</span>
			</a>
		</li>
			<li class="col-xs-6 col-md-3">
        <a href="/books"  class="nav-link">
				<img src="/static/img/products/sputnik sweetheart .jpg" alt="Peinture Aquarelle">
        <span>Novels</span>
			</a>
		</li>
		</ul>
  </div>
</div>
</section>
{% endblock %}
