{% extends "layout.html" %}

{% block title %}
    products
{% endblock %}

{% block main %}
<!-- Link to external CSS file -->
<link href="/static/products.css" rel="stylesheet">

<!-- Section for displaying featured products -->
<section id="product1" class="section-p1">
    <!-- Heading for the featured products section -->
    <div class="title-1">Featured Products</div>


    <!-- Container for the product items -->
    <div class="pro-container">


        <div class="part">

            <ul class="row">

                             <!-- Icon for returning to the previous page -->
    <i class="fa-solid fa-reply" style="color: #000000; cursor: pointer; display: flex; justify-content: space-between; align-items: center;" onclick="goBack()"></i>

    <!-- Script for the goBack function -->
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
                <!-- Looping through the list of products -->
                {% for product in products %}
                <!-- Individual product item -->
                <li class="col-xs-6 col-md-3">
                    <div class="pro">
                        <!-- Displaying the product cover image -->
                        <img src="{{ product.cover }}" alt="{{ product.title }}">
                        <!-- Details of the product -->
                        <div class="des">
                            <!-- Author of the product -->
                            <span>{{ product.author }}</span>
                            <!-- Title of the product -->
                            <h5>{{ product.title }}</h5>
                            <!-- Price of the product -->
                            <h4>{{ product.price }}</h4>

                            <!-- Link to the details page for the product -->
                            <a href="{{ url_for('productdetails', id=product.id) }}"> details </a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}
