{% extends "layout.html" %}

{% block title %}
    deliveryinformation
{% endblock %}

{% block main %}

   <!-- Delivery Information Section -->
   <section id="privacy-policy" class="stack-area">
    <div class="container">
        <h2>Delivery Information</h2>

        <div class="info-section">
            <h4>Shipping Options</h4>
            <p>[The shipping methods available.]</p>
        </div>

        <div class="info-section">
            <h3>Shipping Costs</h3>
            <p>[How shipping costs are calculated, whether they're based on order value, weight, or location.]</p>
        </div>

        <div class="info-section">
            <h3>Delivery Times</h3>
            <p>[Estimated delivery times for different shipping options and regions.]</p>
        </div>

        <div class="info-section">
            <h3>Tracking Orders</h3>
            <p>[How customers can track their orders .]</p>
        </div>

        <p>If you have any questions about our delivery process, feel free to reach out to our customer support team.</p>
    </div>
</section>

{% endblock %}

