{% extends "main.html" %}

{% block title %}
    Payment
{% endblock %}

{% block main %}
<form action="/payment" method="post">
          <!-- not done paying gate away -->

    <div class="mb-3">
        <p>Please select a payment method:</p>
        <input type="radio" id="cash" name="method_paying" value="cash">
        <label for="cash">Pay cash on delivery</label><br>
    </div>
    <div class="mb-3">
        <input type="radio" id="other" name="method_paying" value="other">
        <label for="other">Pay by other methods</label><br>
    </div>
    <button class="btn btn-primary" type="submit">Order</button>
</form>
{% endblock %}