{% extends "layout.html" %}

{% block title %}
    Products
{% endblock %}

{% block main %}
<link href="/static/products.css" rel="stylesheet">

<!-- Section for displaying products -->
<section id="product1" class="section-p1">
  <div class="title-1">Featured Products</div>



  <!-- Container for product display -->
  <div class="pro-container">
    <div class="part">
      <ul class="row">
  <!-- Icon for navigating back -->
  <i class="fa-solid fa-reply" style="color: #000000;cursor: pointer;display: flex; justify-content: space-between; align-items: center;"  onclick="goBack()"></i>

  <!-- JavaScript function to navigate back -->
  <script>
      function goBack() {
          window.history.back();
      }
  </script>
      {% for product in products %}
        <!-- List item for each product -->
        <li class="col-xs-6 col-md-3">
          <div class="pro">
            <!-- Product image -->
            <img src="{{ product.cover }}" alt="{{ product.name }}">
            <div class="des">
              <!-- Product brand -->
              <span>{{ product.brand }}</span>
              <!-- Product name -->
              <h5>{{ product.name }}</h5>
              <!-- Product price -->
              <h4>{{ product.price }}</h4>
              <!-- Link to the product details page -->
              <a href="{{ url_for('productdetails', id=product.id) }}"> details </a>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
</section>
{% endblock %}
