{% extends "main.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<form action="/register" method="post">
    <div class="mb-3">
      <label for="username">Username:</label><br>
      <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="name/lastname" type="text">
    </div>
    <div class="mb-3">
      <label for="mail">Mail:</label><br>
      <input class="form-control mx-auto w-auto" id="mail" name="mail" placeholder="Ex: example@gmail.com" type="mail">
  </div>
    <div class="mb-3">
      <label for="password">Password:</label><br>
      <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
    </div>
    <div class="mb-3">
      <label for="confirmation:">Confirmation:</label><br>
      <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Password (again)" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
{% endblock %}