{% extends "main.html" %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
  <div class="product-details">
    <h2>{{ product.name }}</h2>
    <p>Price: ${{ product.price }}</p>
    <p>Description: {{ product.description }}</p>
    <!-- Add more product details as needed -->
    <form action="/add_to_cart" method="post">
      <input type="hidden" name="product_id" value="{{ product.id }}">
      <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="quantity" placeholder="Shares" type="text">
      </div>
      <button class="btn btn-primary" type="submit">Add to Cart</button>
    </form>
  </div>
{% endblock %}