{% extends "layout.html" %}

{% block title %}
    termsconditions
{% endblock %}

{% block main %}


    <!-- Terms and Conditions Section -->
    <section id="privacy-policy" class="stack-area">
      <div class="container">
        <h2>Terms and Conditions</h2>
        <p>Welcome to [Business Name]! By using our website, you agree to abide by these terms and conditions:</p>
        <div class="info-section">
          <h3>Ownership of Content</h3>
          <p>[The ownership rights of the content on your website, including text, images, and trademarks.]</p>
        </div>
        <div class="info-section">
          <h3>Product Information</h3>
          <p>[Product information, including accuracy, availability, and pricing.]</p>
        </div>
        <div class="info-section">
          <h3>Ordering and Payment</h3>
          <p>[The order process, payment methods, and relevant terms related to cancellations or refunds.]</p>
        </div>
        <div class="info-section">
          <h3>Returns and Exchanges</h3>
          <p>[The policy for returns.]</p>
        </div>
        <div class="info-section">
          <h3>Limitation of Liability</h3>
          <p>[Business's liability limitations in cases of damages or losses.]</p>
        </div>
        <div class="info-section">
          <h3>Governing Law</h3>
          <p>[The governing law that applies to your terms and conditions.]</p>
        </div>
        <p>Please carefully read through our complete terms and conditions before using our services. If you have any questions, feel free to contact us.</p>
      </div>
    </section>


{% endblock %}


